@model Wedding

    <div class="shadow p-3 mb-3 text-center">
        <h1>@Model.WedderOne & @Model.WedderTwo Wedding</h1>
        <p>@Model.Address</p>
    </div>


    <div class="rightSide">
            <h1 class="box1">Guest List</h1>
            @foreach (Rsvp r in Model.Rsvps)
            {
                <p class="box2">@r.Guest?.FirstName @r.Guest?.LastName</p>
            }
    </div>


